# .coveragerc to control coverage.py
[run]
branch = False
concurrency = multiprocessing
cover_pylib = False
omit =
    */site-packages/*
    */migrations/*
parallel = True

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Don't complain if non-runnable code isn't run:
    if __name__ == .__main__.:
    except ModuleNotFoundError:
ignore_errors = True
show_missing = True
