.button-like {
  max-width: 99%;
  text-decoration: none;
  background-color: #f4f4f4;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border: 1px solid #CCCCCC;
  border-right-color: #333333;
  border-bottom-color: #333333;
  cursor: pointer;
}
