.exercises {
  cursor: pointer;
  padding: 0;
  border: 2px solid black;
}

.exercises ion-col {
  padding: 0 2em 0 0;
}

.item-nested-top {
  max-height: 2.6em;
}

.item-nested-bottom {
  max-height: 2.1em;
}

.span-md {
  color: #0e407a;
}

.span-tc {
  color: #1a73d9;
}
