<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <div class="home-logo">
                <a (click)="helperService.goToHomePage(navCtrl)">
                    <img src="assets/imgs/logo.png" width="32px" height="32px" alt="CALLIDUS Logo">
                </a>
            </div>
        </ion-buttons>
        <ion-spinner *ngIf="helperService.openRequests.length"></ion-spinner>
        <ion-title>{{ 'DOC_SOFTWARE' | translate }}</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false">
                <ion-icon name="menu"></ion-icon>
            </ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-grid>
        <ion-row>
            <h2>{{'MACHINA_CALLIDA' | translate}}</h2>
        </ion-row>
        <ion-row>
            {{'MACHINA_CALLIDA_INTRO' | translate}}
        </ion-row>
        <ion-row>
            <ul>
                <li>
                    <a href="{{configMC.machinaCallidaSourceCodeUrl}}" target="_blank">
                        {{'SOURCE_CODE' | translate}} @ GitLab
                    </a>
                </li>
            </ul>
        </ion-row>
        <ion-row>
            <h4>{{'DOC_SOFTWARE_DEV_TITLE' | translate}}</h4>
        </ion-row>
        <ion-row>
            <ol>
                <li>
                    {{'DOC_SOFTWARE_DEV_1' | translate}}<br> <img src="assets/imgs/callidus_skizze_klein.webp"
                                                                  alt="Skizze, wie die Software-Architektur aussehen soll"
                                                                  width="60%" height="60%" padding="2px;">
                </li>
                <li *ngFor="let i of devIndices">{{'DOC_SOFTWARE_DEV_' + (i + 2).toString() | translate}}</li>
            </ol>
        </ion-row>
        <ion-row>
            <h4>Software dependencies</h4>
        </ion-row>
        <ion-row>
            <ion-col>Ancient Greek and Latin Dependency Treebank (AGLDT): The Ancient Greek and Latin Dependency
                Treebank
                (AGLDT)
                is the earliest treebank for Ancient Greek and Latin, called&nbsp;<a
                        href="https://perseusdl.github.io/treebank_data/" target="_blank">Perseus</a>.
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                PROIEL Treebank: The&nbsp;<a href="https://proiel.github.io/" target="_blank">PROIEL Treebank</a> is a
                treebank of ancient Indo-European languages, including Latin and Ancient Greek. It uses a refined
                version of dependency grammar and is available under a Creative Commons
                Attribution-NonCommercial-ShareAlike
                4.0 International.
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>ANNIS: <a href="https://korpling.org/annis3/" target="_blank">ANNIS</a>,
                which stands for Annotation of Information Structure, is an open source,
                versatile web browser-based search and visualization architecture for complex multilevel
                linguistic corpora with diverse types of annotation.
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <a href="https://github.com/rug-compling/conllu-viewer" target="_blank">CoNLL-U Viewer</a>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>Bamberger Wortschatz: The underlying reading corpus was determined by a detailed analysis of the
                current curricula and a comparison of the most important text editions. It contains the full range of
                texts and authors read at intermediate level. They are given in the epilogue together with the text
                passages recorded. The total volume of the corpus examined is considerable, with over 140,000 word
                forms: after deduction of the references to names, 7,154 lemmas, i.e. potential learning words. This
                makes the result all the more surprising and pleasing: with 1248 vocabulary, a good 83% of this text
                corpus can be captured. The detailed studies and preliminary work for the new generation of word studies
                were carried out within the framework of a didactic project sponsored by the publishing house under the
                title Bamberger Wortschatz <a href="https://www.ccbuchner.de/reihe-0-0/adeo-53/" target="_blank">(ADEO-Basiswortschatz)</a>.
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-tabs>
            <ion-tab-bar slot="bottom">
                <ion-tab-button (click)="helperService.goToPage(navCtrl, configMC.pageUrlInfo)">
                    <ion-icon name="information-circle"></ion-icon>
                    <ion-label>{{ 'ABOUT' | translate }}</ion-label>
                </ion-tab-button>
                <ion-tab-button (click)="helperService.goToPage(navCtrl, configMC.pageUrlDocExercises)">
                    <ion-icon name="tablet-landscape"></ion-icon>
                    <ion-label>{{'DOC_EXERCISES' | translate}}</ion-label>
                </ion-tab-button>
                <ion-tab-button (click)="helperService.goToPage(navCtrl, configMC.pageUrlDocVocUnit)">
                    <ion-icon name="school"></ion-icon>
                    <ion-label>{{'DOC_VOC_UNIT' | translate}}</ion-label>
                </ion-tab-button>
                <ion-tab-button (click)="helperService.goToPage(navCtrl, configMC.pageUrlImprint)">
                    <ion-icon name="today"></ion-icon>
                    <ion-label>{{ 'IMPRINT' | translate }}</ion-label>
                </ion-tab-button>
            </ion-tab-bar>
        </ion-tabs>
    </ion-toolbar>
</ion-footer>
